{% extends "base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {{ field.help_text }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Reset password</button>
    </form>
{% endblock content %}