{% extends "base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.name == 'password1' %}
                    {{ field.help_text }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock content %}