form {
    background-color: #74bbe3;
    padding: 30px 60px;
    border-radius: 10px;
    margin: 16px 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: inline-block;
    margin-bottom: 2px;
    color: #13445f;
}

.form-group input, .form-group textarea {
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    color: #000;
    width: 100%;
    color: #13445f;
}

.form-group input:focus, .form-group textarea:focus {
    outline: none;
}

button.btn {
    width: 100%;
}
